{{ attach_library('europeana/europeana') }}
<div class="europeana__record clearfix">
  <div class="left">
    {{ preview }}
  </div>
  <div class="right">
    <h2>{{ title }}</h2>
    <div class="creator">{{ creator }}</div>
    <div class="provider">{{ dataProvider }}</div>
    <div>{{location}}</div>
  </div
</div>

